{% extends "base.html" %}
{% block title %}Experiment rules for Stage 2 {% endblock %}
{% block content %}


<p><b>Experiment rules for Stage 2</b></p>
    <br>

<p>You and the participants of your society will be asked to choose between two taxation systems that will have an effect on redistribution of income to all members’ final level of endowment: 

<br>1)Income Tax: Calculated based on income earned through paid work, i.e. initial endowment randomly assigned would NOT be taxed
<br>2)Wealth Tax: Calculated based on initial endowment randomly assigned to the participants, i.e. income earned through paid work would NOT be taxed
<br><br>
<br>After the consensus is made and taking into account your decisions made in stage 1, the level of your endowment will be calculated and informed.
<br>Based on the taxation system your society chose, those with higher income will be given the opportunity to redistribute their endowment based on the tax rate to the ones with lower income. There will be three rounds in which the participants with resulting higher income of each round will be given the opportunity of redistribution. In each round you will be informed of the distribution of income within your society. 

</p>
<br>

<div class="buttons">
    <a href="/rulesvotes" class="button is-success">Start</a>
</div>





{% endblock %}




{% endblock %}