{% extends "base.html" %}
{% block title %}Experiment 2022 {% endblock %}
{% block content %}


    <p><b>Welcome to the experiment! :D</b></p>
    <br>
    We are conducting a research for a seminar project at Götz Werner Chair of Economic Policy and Constitutional Economic Theory

<br>
<br>
This experiment is anonymous and we will not share any of your answers or data to others. All results will be collected and analysed for educative and scientific purposes.

<br><br>The estimated duration of this experiment is about 25 minutes. 

<br><br>You will be provided with further instructions along the experiment.

<br><br>We hope that you will have fun!
<br><br>

    <div class="buttons">
        <a href="/description" class="button is-info">Proceed</a>
    </div>

 

{% endblock %}
