{% extends "base.html" %}
{% block title %}Land chosen{% endblock %}
{% block content %}


<p style="color:crimson"><b>You have chosen your country already!</b></p>
<br>
Your country is: {{ country }}  

<br>
<br>

Due to experimental design it is now not possible to change a country, but even if you made a mistake, don't worry! You can let us know at the end of experiment what country  would you choose.  

<br><br>

    <div class="buttons">
        <a href="/model1" class="button is-info">OK</a>
    </div>

 

{% endblock %}
